<div class="hero-section">
    <div class="hero-content">
        <!-- Left: Text & Buttons -->
        <div class="hero-text">
            <h1 class="fw-bold">
                Innovative Software <br />
                Solutions for your <span class="text-success">Business</span>
            </h1>
            <p class="mt-3 text-dark">
                Expert web and mobile app development to drive your success.
            </p>
            <div class="mt-4">
                <a href="tel:0413772510" class="btn call-btn d-flex align-items-center">
                    <img src="assets/images/mobile.svg" alt="Mobile"> 0413 772 510
                </a>

                <button class="btn learn-btn pointer" [routerLink]="'/about'">
                    Learn More
                </button>
            </div>
        </div>

        <!-- Right: Image Overlay -->
        <div class="masked-image">
            <img src="assets/images/Mask group.svg" alt="Business Woman">
        </div>
    </div>
</div>

<div>
    <app-about-us />
</div>

<div>
    <app-services />
</div>